/* CSS DOCUMENT */
@charset "UTF-8";

html {
    background-color: #053920;
}

@font-face {
    font-family: "Heading titulares";
    src: url("fonts/HeadingNowTrial-57Extrabold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Heading secciones";
    src: url("fonts/HeadingNowTrial-54Regular.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Heading textos";
    src: url("fonts/CutiveMono-Regular.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

h1 {
    font-family: "Heading titulares", sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

h2 {
    font-family: "Heading secciones", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 4rem;
}

h3 {
    font-family: "Heading textos", sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

main {
    text-align: left;
    text-wrap: balance;
    color: #cac7c7;
}

main ul {
    font-family: "Heading textos", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.5rem;
    list-style: disc;
    padding: 0;
    margin: 0;
}

main ul li {
    margin-bottom: 1rem;
}

body {
    margin: 0;
}

.fila {
    display: flex;
    flex-direction: row;
    gap: 32px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px;
    margin-top: 4rem;
}

.barra-nav {
    background-color: #000000;
    padding: 12px;
}

.barra-nav ul {
    display: flex;
    justify-content: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 16px 0;
}

.barra-nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Heading secciones", sans-serif;
}

.barra-nav a:hover {
    text-decoration: underline;
}

.subtitulo-header {
    font-family: "Heading textos", sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
    color: rgb(226, 178, 88);
    margin-top: 0.6rem;
    line-height: 0.8rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

footer {
    font-family: "Heading secciones", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-wrap: balance;
    color: #cac7c7;
    margin-top: 5rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0.5rem;
    color: #cac7c7;
}

footer li img {
    display: block;
}

footer a {
    color: orange;
    text-decoration: underline;
}

footer a:visited {
    color: rgb(184, 127, 22);
}

.barra-final {
    background-color: #000000;
    color: #ffffff;
    padding: 32px;
    margin-top: 5rem;
    font-family: "Heading secciones", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


#habilidades ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 0;
}

#habilidades li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    text-align: center;
}